<h1>Your <%= @list.name %> list</h1>

<p><%= link_to 'Add movie to list', new_list_bookmark_path(@list)  %></p>
<p><%= link_to 'back', lists_path %></p>

<% @list.bookmarks.each do |bookmark| %>
  <h3><%= bookmark.movie.title %></h3>
  <%= link_to 'Delete', bookmark_path(bookmark), method: :delete %>

<%  end %>

